/* 
doc color primary
primary: 6777ef -> 1DCD9F 
active: 394eea -> 169976
shadow: acb5f6 -> a6eac3

bootstrap : 007bff -> 4de265
*/

.cursor-pointer{
  cursor: pointer;
}

/* gap */
.column-gap-1{
  column-gap : .5rem;
}
.column-gap-2{
  column-gap : 1rem;
}
.column-gap-3{
  column-gap : 1.5rem;
}